.register-row-text-center {
    text-align: center;
}

.register-row-text-center .client-name-spacing {
    font-size: 25px;
}

.home-fonts {
    font-family: "Nunito", sans-serif;
}

.submit-button-colors {
    background-color: #531DFB;
    color: #FAF9F6;
    opacity: 50%;
}

.footer-format {
    border-top: 2px solid lightgrey;
    padding: 10px;
    margin-top: 5%;
}

.submit-button-colors:hover {
    background-color: #F57C73;
    color: #0D0A0B;
    opacity: 100%;
}

.client-name-spacing { 
    margin-top: 1%;
}

.error-message {
    margin-top: 8%;
    margin-bottom: 5%;
}

.italics-msg {
    font-style: italic;
}

.img-div {
    width: 60%;
    box-sizing: border-box;
    padding: 1%;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
}

.img-div img {
    width: 100%;
}

.button-rounded-error {
    margin-top: 2%;
}

.button-rounded-success {
    margin-top: 0%;
}

@media(min-width: 768px) {
    .img-div {
        width: 45%;
        box-sizing: border-box;
        padding: 1%;
        margin: 1%;
        margin-left: auto;
        margin-right: auto;
    }

    .error-message {
        margin-top: 5%;
        margin-bottom: 2%;
    }
}

@media(min-width: 992px) {
     .img-div {
        width: 32%;
        box-sizing: border-box;
        padding: 1%;
        margin: 1%;
        margin-left: auto;
        margin-right: auto;
    }

    .form-rounded {
        margin-top: 1%;
    }

    .button-rounded-success {
        margin-top: 0%;
    }

    .button-rounded-error {
        margin-top: 0.5%;
    }
    
    .error-message {
        margin-top: 1%;
        margin-bottom: 1%;
    }
}
