body {
    color: #0D0A0B;
}

.main-div {
    font-family: "Nunito", sans-serif;
}

.img-div {
    width: 40%;
    box-sizing: border-box;
    padding: 1%;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
}

.img-div img {
    width: 100%;
}

.under-img-text {
    text-align: center;
    margin: 1%;
}

.bullet-point-list-style {
    list-style: none;
    font-size: 20px;
    padding-inline-start:0%;
    color: #F57C73;
}

.important-info {
    font-size: 25px;
    padding-bottom: 2.5%;
    box-sizing: border-box;
}

.secondary-details {
    font-size: 20px;
    /* padding-bottom: 2.5%; */
    box-sizing: border-box;
    margin-bottom: 0;
}

.bullet-list-div {
    font-size: 20px;
    /* padding-bottom: 2.5%; */
    box-sizing: border-box;
    margin-bottom: 0;
    margin-top: 2%;
}

.bullet-list-header {
    font-style: italic;
    color: #0D0A0B;
}

.query-result {
    color: #531DFB;
}

.no-purchase-styling {
    margin-top: 2%;
    color: #F57C73;
}

.button-colors {
    background-color: #531DFB;
    color: #FAF9F6;
    opacity: 50%;
    margin-top: 2%;
}

.button-colors:hover {
    background-color: #F57C73;
    color: #0D0A0B;
    opacity: 100%;
}

.footer-format {
    border-top: 2px solid lightgrey;
    padding: 10px;
    margin-top: 5%;
}

/* The following CSS rules are added only when screen size is 768px and above */
@media(min-width: 768px) {
    .img-div {
        width: 90%;
    }

    .under-img-text {
        margin: 2%;
    }

    .important-info {
        font-size: 25px;
        box-sizing: border-box;
        margin-top: auto;
        margin-bottom: auto;
    }

    .secondary-details {
        padding-top: 5%;
        font-size: 23px;
    }

    .bullet-list-div {
        padding-top: 5%;
        font-size: 23px;
        margin-top: 0;
    }

    .bullet-point-list-style {
        font-size: 23px;
    }

    .no-purchase-styling {
        margin-top: 7%;
    }

    .button-colors {
        background-color: #531DFB;
        color: #FAF9F6;
        opacity: 50%;
        margin-top: 0;
    }
    

}

/* The following CSS rules are added only when screen size is 992px and above */
@media(min-width: 992px) {
    .img-div {
        width: 50%;
    }

    .under-img-text {
        margin: 2%;
    }

    .important-info {
        font-size: 25px;
        box-sizing: border-box;
        margin-top: auto;
        margin-bottom: auto;
    }

    .secondary-details {
        padding-top: 2%;
        font-size: 23px;
    }

    .bullet-list-div {
        padding-top: 5%;
    }

    .bullet-point-list-style {
        font-size: 25px;
    }
}